<center><h1>Multiple Linear Regression</h1></center>

In [2]:
import pandas as pd

In [3]:

URL='https://drive.google.com/file/d/1lzgpAceykXHdX__D8d_2JD9C1k99w2fi/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]

In [4]:
df = pd.read_csv(path)

In [5]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [6]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [9]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [10]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [11]:
df.shape

(200, 4)

In [12]:
X = df.drop('Sales',axis = 1)
y = df['Sales']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2,random_state=23)

In [16]:
from sklearn.linear_model import LinearRegression
mult_lin = LinearRegression()
mult_lin.fit(X_train, y_train)

LinearRegression()

In [19]:
mult_lin.intercept_

4.612029874800379

In [20]:
mult_lin.coef_

array([0.05420996, 0.10171693, 0.00519215])

In [21]:
y_pred = mult_lin.predict(X_test)

In [24]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test,y_pred)
mae = mean_absolute_error(y_test, y_pred)
mrse = mean_squared_error(y_test,y_pred,squared=False)

In [26]:
display(f'r2_score - {r2}',f'mean_squared_error - {mse}',
        f'mean_absolute_error - {mae}',f'mean_root_squared_error - {mrse}')

'r2_score - 0.9237886847998977'

'mean_squared_error - 2.4586818189137'

'mean_absolute_error - 1.2505811359510681'

'mean_root_squared_error - 1.568018437045209'

In [33]:
import statsmodels.api as sm
ols_mod = sm.OLS(y_train, X_train)
model = ols_mod.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   0.977
Model:                            OLS   Adj. R-squared (uncentered):              0.977
Method:                 Least Squares   F-statistic:                              2265.
Date:                Fri, 14 Jan 2022   Prob (F-statistic):                   5.83e-129
Time:                        15:06:40   Log-Likelihood:                         -365.56
No. Observations:                 160   AIC:                                      737.1
Df Residuals:                     157   BIC:                                      746.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0667      0.002     38.065      0.000       0.063       0.070
Radio          0.1531      0.012     12.525      0.000       0.129       0.177
Newspaper      0.0376      0.009      4.341      0.000       0.021       0.055
==============================================================================
Omnibus:                        0.720   Durbin-Watson:                   1.840
Prob(Omnibus):                  0.698   Jarque-Bera (JB):                0.397
Skew:                           0.077   Prob(JB):                        0.820
Kurtosis:                       3.189   Cond. No.                         12.1
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""