In [5]:
import pandas as pd


URL='https://drive.google.com/file/d/1O-Bhcmg7mAikqn35XefB8-QqXfcWMrWR/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]

df = pd.read_csv(path)
df=df[['X2 house age', 'Y house price of unit area']]
df.rename(columns={'X2 house age':'house_age', 'Y house price of unit area':'unit_area_price'}, inplace=True)

In [6]:
df

     house_age  unit_area_price
0         32.0             37.9
1         19.5             42.2
2         13.3             47.3
3         13.3             54.8
4          5.0             43.1
..         ...              ...
409       13.7             15.4
410        5.6             50.0
411       18.8             40.6
412        8.1             52.5
413        6.5             63.9

[414 rows x 2 columns]

In [7]:
df.isnull().sum()

house_age          0
unit_area_price    0
dtype: int64

In [8]:
df.duplicated().sum()

1

In [11]:
df.drop_duplicates(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 0 to 413
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   house_age        413 non-null    float64
 1   unit_area_price  413 non-null    float64
dtypes: float64(2)
memory usage: 9.7 KB

In [14]:
df.describe()

        house_age  unit_area_price
count  413.000000       413.000000
mean    17.755448        37.945763
std     11.372792        13.604922
min      0.000000         7.600000
25%      9.100000        27.700000
50%     16.100000        38.400000
75%     28.200000        46.600000
max     43.800000       117.500000

In [15]:
df.corr()

                 house_age  unit_area_price
house_age         1.000000        -0.207507
unit_area_price  -0.207507         1.000000

In [16]:
df.shape

(413, 2)

In [17]:
X = df[['house_age']]
y = df['unit_area_price']

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X, y,test_size=.3,random_state=42)

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
X_train_poly = poly.fit_transform(X_train)
reg_mod = LinearRegression()
reg_mod.fit(X_train_poly, y_train)

LinearRegression()

In [27]:
y_pred = reg_mod.predict(poly.fit_transform(X_test))

In [28]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mrse = mean_squared_error(y_test, y_pred,squared = False)
display(f'r_squared - {r2}', f'mean_squared_error - {mse}',
        f'mean_absolute_error - {mae}', f'mean_root_squared_error {mrse}')

'r_squared - 0.18746614330246547'

'mean_squared_error - 129.89157936612708'

'mean_absolute_error - 9.328816976350929'

'mean_root_squared_error 11.396998699926533'

In [31]:
import statsmodels.api as sm
X_train_poly_sm = sm.add_constant(X_train_poly)
lm = sm.OLS(y_train, X_train_poly_sm)
model = lm.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        unit_area_price   R-squared:                       0.203
Model:                            OLS   Adj. R-squared:                  0.197
Method:                 Least Squares   F-statistic:                     36.40
Date:                Fri, 14 Jan 2022   Prob (F-statistic):           8.26e-15
Time:                        16:46:46   Log-Likelihood:                -1139.4
No. Observations:                 289   AIC:                             2285.
Df Residuals:                     286   BIC:                             2296.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         54.0299      2.022     26.723      0.000      50.050      58.010
x1            -1.9956      0.241     -8.273      0.000      -2.470      -1.521
x2             0.0438      0.006      7.400      0.000       0.032       0.055
==============================================================================
Omnibus:                       67.601   Durbin-Watson:                   2.079
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              288.993
Skew:                           0.896   Prob(JB):                     1.76e-63
Kurtosis:                       7.560   Cond. No.                     1.75e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.75e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### X1 is house_age, X2 is house_age^2